body {
  background-color: #ff4949;
}

hr {
  border-style: none;
  border-top-style: dotted;
  width: 95%;
  border-width: 5px;
  border-color: white;
}

h1
{
  color: white;
}
h2
{
  color: white;
}
